In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv('./transaction_cleanedtest copy.csv')

In [26]:
df.groupby('Transaction Date').count().sort_values(by='Transaction Number', ascending=False)

,Unnamed: 0,Transaction Number,Transaction Type,Transaction Description,Debit Amount,Credit Amount,Balance,Category,Location City,Location Country
Transaction Date,,,,,,,,,,
21/10/2019,28,28,28,28,27,1,28,28,21,21
19/08/2019,26,26,26,26,26,0,26,26,23,23
04/01/2022,23,23,22,23,21,2,23,23,17,17
07/02/2022,22,22,22,22,22,0,22,22,6,6
01/06/2021,22,22,21,22,19,3,22,22,19,19
...,...,...,...,...,...,...,...,...,...,...
07/06/2017,1,1,1,1,1,0,1,1,1,1
07/06/2022,1,1,1,1,1,0,1,1,1,1
07/07/2020,1,1,1,1,1,0,1,1,1,1
07/07/2022,1,1,1,1,1,0,1,1,1,1
30/12/2016,1,1,1,1,1,0,1,1,1,1